@model JM_Examen_P1.Models.Montero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Montero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JM_SemestreId" class="control-label"></label>
                <input asp-for="JM_SemestreId" class="form-control" />
                <span asp-validation-for="JM_SemestreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JM_Nota" class="control-label"></label>
                <input asp-for="JM_Nota" class="form-control" />
                <span asp-validation-for="JM_Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JM_Nombre" class="control-label"></label>
                <input asp-for="JM_Nombre" class="form-control" />
                <span asp-validation-for="JM_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JM_Estudiante" /> @Html.DisplayNameFor(model => model.JM_Estudiante)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="JM_Fecha" class="control-label"></label>
                <input asp-for="JM_Fecha" class="form-control" />
                <span asp-validation-for="JM_Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
